:root {
  --blue: #2B98F0;
  --offwhite: #F7F7F7;
  --darkgray: #414A4F;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  padding: 30px 0px;
  
}

nav div {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#logo {
  font-size: 30px;
}

#intro {
  height: 100vh;
  background-image: url('../img/main.jpg');
  background-size: cover;
  color: white;
}

#title {
  margin-top: 20vh;
}

h1 {
  font-size: 90px;
  margin: 10px;
}

h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

button {
  background: var(--blue);
  color: white;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}


section {
/*  width: 85%;*/
  margin: 0 auto;
  padding: 100px 10%;
}

section:nth-of-type(2n) {
  background: var(--offwhite);
}

h3 {
  font-size: 30px;
  margin-bottom: 50px;
}

p {
  position: relative;
  width: 60%;
  margin: 0 auto;
  line-height: 26px;
  margin-bottom: 150px;
}

header p:after {
  content: "";
  position: absolute;
  height: 2px;
  left: 38%;
  right: 38%;
  bottom: -40px;
  background: var(--blue);
  
}


#mountains {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  height: 700px;
}

#mountains li {
  background-size: cover;
  flex-basis: 35%;
  height: 300px;
}

#mountain1 {
  background-image: url('../img/mountain1.jpg');
}

#mountain2 {
  background-image: url('../img/mountain2.jpg');
}

#mountain3 {
  background-image: url('../img/mountain3.jpg');
}

#mountain4 {
  background-image: url('../img/mountain4.jpg');
}

#mountains li.large { 
  flex-basis: 55%;
}

#trips {
  display: flex;
  flex-wrap: wrap;
}

.trip {
  flex: 1 1 50%;
}

.fas {
  color: var(--blue);
  font-size: 50px;
  margin-bottom: 25px;
}

h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

#testimonials p {
  font-size: 22px;
}

span {
  display: block;
  margin-top: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  max-width: 80%;
  margin: 0 auto;
}

input[type="email"] {
  flex-basis: 60%;
  padding: 20px;
  margin-right: 20px;
  text-align: justify;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background: var(--darkgray);
  color: white;
}

footer #social-media {
  display: flex;
  justify-content: space-around;
  width: 200px;
  font-size: 30px;
  margin-bottom: 20px;
}


footer p {
  margin: 0;  
  text-transform: uppercase;
  font-size-adjust: 20px;
}

@media (max-width: 900px) {
  
  #mountains, #trips, form {
    flex-direction: column;
  }
  
  #mountains {
    height: auto;
    justify-content: space-around;
  }
  
  #mountains li {
    height: 40vw;
    margin-bottom: 40px;
  }
  
  
  input[type="email"] {
    flex-basis: 100%;
    flex-grow: 1;
    width: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  
  #intro {
    height: 110vh;
  }
  
  nav {
    flex-direction: column;
  }
  
  nav div {
    margin: 0 auto;
  }
}
